<!-- templates/home.html-->
{% extends 'base.html' %} {% block bootstrap3_title %}Home{% endblock %} {% block content %}
<div class="text-center">
  <h3>Sensores e Coletores:</h3>
  <hr>
  <h2>
    <small>Unidade: {{ unit.name|title }}
      <br> Local: {{ local.name|title }}</small>
  </h2>
  <hr>
</div>



<div class="row">
  <div class="col-md-6 text-center">
    <h3>Sensores</h3>
    <div class="row">
      {% for item in sensors %}
      <div class="col-md-3">
        <a href="{% url 'measurements_sensor' unit.id local.id item.id %}">
          <div class="panel panel-primary" style="max-width: 15rem;">
            <div class="panel-heading">
              <b>{{ item.name }}</b>
            </div>
            <div class="panel-body">
              <h3 style="margin-top:0px;">20.0
                <small> celsius</small>
              </h3>
              {{item.colector}}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6 text-center">
    <h3>Coletores</h3>
    <div class="row">
      {% for item in colectors %}
      <div class="col-md-3"></div>
      <a href="">
        <div class="panel panel-primary" style="max-width: 15rem;">
            <div class="panel-heading">
              <b>{{ item.name }}</b>
            </div>
            <div class="panel-body">
              <h3 style="margin-top:5px;">{{ item.quantity }}
                <small> sensores</small>
              </h3>
            </div>
          </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>


{% endblock %}